[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "taxonbridge"]
	path = taxonbridge
	url = https://github.com/moultdb/taxonbridge
